html, body{/*background:url(../images/bg1.png) repeat;*/ color: #696969; zoom:100%; overflow-x:hidden;}
b{
    color: #ff6347;
}

.pp-section {
    position: fixed;
  }

a{color: #696969; text-decoration: none;}
a:hover{color: #ff6347; text-decoration: none;}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background: #ff6347;
	/* background: rgba(0,0,0, 0.5); */
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: black;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
  font-family: font123497;
}


/* Intro */

.word b{color:  #ff6347; text-align: center;}

.me {font-family: font97574;font-size:56px; text-align:center; font-weight:normal; margin-top: 60px;color:#2D2D2D;}
.headline {
  position: absolute;
  font-family: font97574;
  font-weight:normal;
  /* font-weight:600; */
  position: relative;
  left: -18.5%;
  text-align: center;
  margin-bottom: 250px;
  font-size: 37px
  /* color:#ff6347; */
}


.word {
  position: absolute; */
  /* display: inline; */
  width: 316px;
  opacity: 0;
}

.letter {
  display: inline;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.coral {
  color: #ff6347;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

/*Portfolio*/

#port2{
  padding-left: 234px;
  padding-top: 51px;
}

#port{
  padding-left: 120px;
  padding-top: 51px;
}

.portfolio-item{
  margin-top: 25px;
  height: 296px;
  width: 442px;
  float: left;
  overflow: hidden;
  text-align: center;
}
.container1{
  height: 234px;
  width: 387px;
  /* margin: 28px; */
  margin-left: -11px;
  margin-top: 30px;
  padding: 6px;
  display: inline-table;
  position: relative;
}

.portfolio-item2{
  height: 296px;
  width: 510px;
  float: left;
  margin-left: -100px;
  overflow: hidden;
  text-align: center;
  margin-top: 33px;
}

.container2{
  height: 223px;
  width: 322px;
  margin: 28px;
  margin-left: -11px;
  padding: 6px;
  display: inline-table;
  position: relative;
}

.container1 img, .container2 img {
  /* -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; */
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  position: absolute;
}

 #pp-nav.right {
    display: none;
  }

.item_desc{
  color: white;
  font-size: 16px;
  text-align: -webkit-auto;
  margin: 32px;
  font-family: font123497;
}

.item_title{
  font-family: font97574;
  position: static;
  left: 0%;
  top: 0%;
  z-index: 1;
  padding-right: 0px;
  float: left;
  clear: none;
  color: #fff;
  font-size: 30px;
  line-height: 5vmin;
  font-weight: 500;
  text-align: center;
  margin-bottom: -25px;
  text-decoration: none;
}

.container1 img:hover, .container2 img:hover{
  transform-style: preserve-3d;
      transition: transform 550ms, opacity 600ms;
      opacity: 0;
      transform: translateX(0%) translateY(-50%) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1);
}

/* About */

#about-text{
    font-size: 19px;
    padding-right: 73px;
    display: inherit;
    /* margin: 178px; */
    /* padding-right: 122px; */
    /* padding-top: -53px; */
    text-align: justify;
    font-family: font123497;
    font-weight: bolder;
}

#quote{
  font-size: 35px;
  margin-right: 66px;
  margin-top: 62px;
  position: relative;
  text-align: -webkit-right;
  margin-bottom: 26px;
  font-family: font97574;
}

.about-me img{
  height: 522px;
  margin-top: -52px;
  /* width: 448px; */
  float: left;
  margin-bottom: 62px;
}

.about-me{
  padding-top: 72px;
}


#resume, #blog {color: #ff6347 !important;}
#blog{margin-left: 101px;
    margin-top: -89px !important;}

#mailme {width:72px; height:72px;  display:block; border-bottom:10px solid black;
-webkit-transition: all 0.7s ease-out;
-moz-transition: all 0.7s ease-out;
-ms-transition: all 0.7s ease-out;
-o-transition: all 0.7s ease-out;
transition: all 0.7s ease-out;
}

#contact img{
  height: 51px;;
  float: right;
  margin-top: -21px;
  margin-left: 10px;
}

#contact img:hover {
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
-webkit-transition: all 0.4s ease-out;
-moz-transition: all 0.4s ease-out;
-ms-transition: all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
transition: all 0.4s ease-out;
}

#resume a{
  border-bottom: solid 1px #ff6347;;
  border-left: solid 2px #ff6347;;

}

#resume span{
  margin: 37px;
}

#resume{
  font-family: font97574;
  margin-top: 45px;
  margin-bottom: -92px;
  display: inline-block;
}

.last{background-color: gray; color: white; text-align: center; height: 30px; margin-top: 1px;}

/* Skills */
  #myChart{
    margin-top: -539px;
    /* width: 81%; */
    /* width: 1000px !important;
    height: 506px !important; */
    /* padding-top: 139px; */
  }

  .pie {
    width: 80%;
    height: 100%;
    /* padding-right: 200px; */
    padding-top: 47px;
    /* padding-left: 229px; */
  }
  #section1 img{
    margin: 20px 0;
    opacity: 0.7;
  }
  #pp-nav.custom .pp-tooltip{
    color: #ff6347;
  }
  hr{
    width: 300px;
    border:2px dashed;
  }
  .coding{
    margin-top: 77px;
    /* margin-left: 51px; */
    /* padding-right: 68px; */
    /* position: absolute; */
    float: left;
  }
  #pie_title1{
    font-size: 45px;
    color: white;
    font-family: font97574;
    border-bottom: solid darkgray;
    text-align: left;
    padding-right: 132px
  }
  #skill_1{
    text-align: left;
    font-family: font123497;
    color: white;
    margin-left: -2px;
  }
  #skill_11{
    position: relative;
    text-align: left;
    font-family: font123497;
    color: white;
    margin-left: -2px;
  }
  .writing{
    margin-top: -550px;
    margin-right: -32px;
    float: right;
  }
  #pie_title2{
    font-size: 45px;
    color: white;
    font-family: font97574;
    border-bottom: solid darkgray;
    padding-left: 137px;
  }
  #skill_2{
    text-align: right;
    font-family: font123497;
    color: white;
  }
  .new{
    margin-top: -303px;
    /* margin-right: -233px; */
    float: right;
  }
  #pie_title3{
    font-size: 45px;
    border-bottom: solid darkgray;
    color: white;
    font-family: font97574;
    padding-left: 204px;
  }
  #pie_title33{
    font-size: 20px;
    text-align: right;
    font-family: font97574;
    /* float: right; */
  }
  #skill_3{
    text-align: right;
    font-family: font123497;
    color: white;
  }
  ul {
  list-style-type: circle;
  list-style-position: inside;
  }


  /* Extra small devices (phones, 600px and down) */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px){

  #pp-nav ul, .pp-slidesNav ul{
    display: none;
  }
  .me{
    text-align: center;
    font-size: 30px;
    margin-top: 192px;
  }

  #myChart{
    /* width: 81%; */
    position: absolute;
    /* margin-left: -129px; */
    /* padding-top: 210px; */
    /* height: 276px !important;
    width: 200px !important; */
    width: 650px !important;
    height: 350px !important;
    height: auto;
    margin-top: 104px;
    opacity: 0.5;
    margin-left: -144px;
  }

  #skill_1{
    font-weight: bolder;
  }
  #skill_11{
    font-weight: bolder;
  }

  #skill_2{
    margin-top: -3px;
    font-weight: bolder;
  }
  .coding{
    margin-top: 52px;
    position: absolute;
    font-size: 12px;
    z-index: 1;
    margin-left: 21px;
  }

    #pie_title1{
      font-size: 23px !important;
      color: white;
      font-family: font97574;
      border-bottom: solid darkgray;
      padding-right: 0px;
  }

  .writing{
    margin-top: 106px;
    position: absolute;
    font-size: 12px;
    text-align: right;
    padding-left: 178px;
  }

  #pie_title2{
    font-size: 23px !important;
    padding-left: 0px;
  }


  #pie_title3{
    font-size: 23px !important;
    padding-left: 0px;
  }

  #skill_3{
    font-weight: bolder;
  }

  .pie{
    padding-left: 0px;
    padding-right: 0px;
  }

  .headline{
    position: relative;
    left: -28%;
    margin-bottom: 250px;
    font-size: 26px;
    padding-right: 90px;
    text-align: center;
  }

  .container1 img, .container2 img{
    height: auto;
    /* width: 50%; */
    margin-left: 57px;
    opacity: 0.3;
    /* margin-top: 54px; */
  }

  .portfolio-item, .portfolio-item2 {
    height: 204px;
    width: 373px;
    margin-top: 74px;
    margin-bottom: -36px;
    margin-left: 10px;
    /* text-align: center; */
  }
  .portfolio-item2{
      margin-right: 223px;
    }

  .item_desc {
    color: white;
    font-size: 13px;
    text-align: -webkit-auto;
    /* margin: 57px; */
    margin-top: 13px;
    margin-left: -5px;
    position: absolute;
    font-weight: bolder;
    font-family: font123497;
}

.container1, .container2 {
  height: 174px;
  width: 341px;
  margin: 0px;
  margin-left: -11px;
  padding: 6px;
  display: inline-table;
  position: relative;
  overflow: visible;
}

#menu{
  font-size: 6px;
}

.item_title{
  font-size: 18px;
}
  #port, #port2 {
      width: 20%;
      padding-left: 0px;
      padding-top: 0px;
  }

  .about-me img{
    height: 251px;
    float: left;
    margin-left: -13px;
    margin-bottom: 17px;
  }


  #quote {
    font-size: 15px;
    margin-right: 268px;
    margin-bottom: 10px;
    margin-right: 57px;
    margin-top: 100px;
  }
  #about-text {
    font-size: 12px;
    display: inherit;
    margin: auto;
    margin-left: 37px;
    padding-right: 59px;
    padding-top: -53px;
    text-align: justify;
    font-family: font123497;
    font-weight: bolder;
  }
  #contact{
    margin-top: -20px;
  }
  #contact img {
    height: 20px
  }
}

@media (min-width: 768px) and (max-width: 1020px) {

    .me{
      text-align: center;
      font-size: 51px;
      margin-top: 192px;
    }

    #myChart{
      /* width: 609px !important;
      height: 319px !important; */
      width: 81%;
      position: absolute;
      margin-left: -129px;
      padding-top: 210px;
      opacity: 0.5;

    }

    #skill_1{
      margin-left: -34px;
      margin-top: -3px;
    }
    #skill_11{
      margin-left: -34px;
      margin-top: -3px;
    }

    .coding{
      margin-top: 94px;
      position: absolute;
      font-size: 12px;
      margin-left: 21px;
    }

      #pie_title1{
        font-size: 28px !important;
        color: white;
        font-family: font97574;
        border-bottom: solid darkgray;
        padding-right: 0px;
    }

    .writing{
      margin-top: 288px;
      position: absolute;
      font-size: 12px;
      text-align: right;
      padding-left: 178px;
    }

    #pie_title2{
      font-size: 28px !important;
      padding-left: 0px;
    }

    .new{
      margin-top: 427px;
      font-size: 12px;
      text-align: left;
      padding-left: 21px;
      position: relative;
      float: left;
    }

    #pie_title3{
      font-size: 28px !important;
      padding-left: 0px;
    }

    #skill_3{
      text-align: left;
      margin-left: -36px;
      margin-top: -3px;
    }

    .pie{
      padding-left: 0px;
      padding-right: 0px;
    }

    .headline{
      position: relative;
      left: -28%;
      text-align: center;
      margin-bottom: 250px;
      font-size: 26px;
    }

    .container1 img, .container2 img{
      height: auto;
      /* width: 50%; */
      opacity: 0.3;
      /* margin-top: 54px; */
    }

    .portfolio-item, .portfolio-item2 {
      height: 172px;
      width: 510px;
      margin-top: 74px;
      margin-bottom: -36px;
      margin-left: 10px;
      /* text-align: center; */
    }
    .portfolio-item2{
        margin-right: 223px;
      }

    .item_desc {
      color: white;
      font-size: 12px;
      position: fixed;
      text-align: -webkit-auto;
      /* margin: 57px; */
      margin-top: 13px;
      margin-right: 35px;
      font-weight: bolder;
      margin-left: -64px;
      font-family: font123497;
  }

  .container1, .container2 {
    height: 174px;
    width: 341px;
    margin: 0px;
    margin-left: -11px;
    padding: 6px;
    display: inline-table;
    position: relative;
    overflow: hidden;
  }

  #menu{
    font-size: 6px;
  }

  .item_title{
    font-size: 18px;
  }
    #port {
        width: 20%;
        padding-left: 0px;
        padding-top: 0px;
    }

    .about-me img{
      height: 251px;
      margin-top: -210px;
      /* width: 448px; */
      float: left;
      margin-left: -13px;
      margin-bottom: 17px;
    }
    #quote {
      font-size: 25px;
      margin-right: 268px;
      margin-bottom: 10px;
      margin-right: 57px;
      margin-top: 100px;
    }
    #about-text {
      font-size: 12px;
      display: inherit;
      margin: auto;
      margin-left: 37px;
      padding-right: 59px;
      padding-top: -53px;
      text-align: justify;
      font-family: font123497;
      font-weight: bolder;
    }
    #contact{
      margin-top: -20px;
    }
    #contact img {
      height: 20px
    }
}
